# Preencha com os outputs do terraform (terraform output) e as chaves obtidas via az cli
AZURE_SEARCH_ENDPOINT=https://srch-ragdemo-uwjuc.search.windows.net
AZURE_SEARCH_KEY=
AZURE_SEARCH_INDEX=demo-rag-index

AZURE_OPENAI_ENDPOINT=https://oai-ragdemo-uwjuc-2b795.openai.azure.com/
AZURE_OPENAI_KEY=
AZURE_OPENAI_CHAT_DEPLOYMENT=chat-gpt5-mini
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=embedding-3-small
